In [8]:
# assignment
import numpy as np
import pandas as pd
# lets create the datafor retail domain with discount and other variable
data= {
    'product_id': np.random.randint(1000, 9999, 5000),
    'product_name': np.random.choice(['A', 'B', 'C', 'D', 'E'], 5000),
    'category': np.random.choice(['Electronics', 'Clothing', 'Groceries'], 5000),
    'brand': np.random.choice(['P', 'Q', 'R'], 5000),
    'price': np.random.uniform(10, 100, 5000),
    'quantity': np.random.randint(1, 20, 5000),
    'discount': np.random.uniform(0, 0.3, 5000)
}

df = pd.DataFrame(data)
df.head(10)

# Questions

# 1. What is the average price of products in each category?
# 2. Which brand has the highest average discount?
# 3. What is the total revenue generated from each product?
# 4. How many products are there in each category?
# 5. What is the most popular product (highest quantity sold)?

   product_id product_name     category brand      price  quantity  discount
0        4698            A  Electronics     Q  34.444739        13  0.072022
1        2995            D     Clothing     R  83.679149        18  0.249782
2        9047            B  Electronics     P  91.841368         3  0.252528
3        6439            D    Groceries     P  53.665699         7  0.081262
4        3088            D    Groceries     R  96.110141        15  0.060751
5        1648            E     Clothing     Q  33.175403        19  0.049985
6        8121            A    Groceries     R  56.002040        10  0.111463
7        1887            E     Clothing     R  33.595815         8  0.159021
8        8186            C    Groceries     Q  26.876879         5  0.091953
9        6671            E     Clothing     Q  34.191009         9  0.267938

# 1.Average price of products in each category

In [13]:
avg_price_by_category = (df.groupby('category', as_index=False).agg(avg_price=('price', 'mean')))

avg_price_by_category

      category  avg_price
0     Clothing  55.396768
1  Electronics  55.405153
2    Groceries  53.482968

#  2.Brand having highest average discount

In [14]:
avg_discount_by_brand = (df.groupby('brand', as_index=False).agg(avg_discount=('discount', 'mean')).sort_values(by='avg_discount', ascending=False))

avg_discount_by_brand

  brand  avg_discount
2     R      0.152264
0     P      0.150233
1     Q      0.150007

# 3.Total revenue generated from each product

In [20]:
df['revenue'] = df['price'] * df['quantity'] * (1 - df['discount'])

revenue_per_product = (df.groupby('product_id', as_index=False).agg(total_revenue=('revenue', 'sum')))

revenue_per_product.head()

   product_id  total_revenue
0        1001    1695.875317
1        1004     224.836526
2        1011     211.584960
3        1013     232.981706
4        1014     629.369814

# 4.Number of products in each category

In [21]:
products_per_category = (df.groupby('category', as_index=False).agg(product_count=('product_id', 'count')))

products_per_category

      category  product_count
0     Clothing           1677
1  Electronics           1659
2    Groceries           1664

# 5.Most popular product (highest quantity sold)

In [22]:
popular_products = (df.groupby('product_name', as_index=False).agg(total_quantity_sold=('quantity', 'sum')).sort_values(by='total_quantity_sold', ascending=False))

popular_products

  product_name  total_quantity_sold
1            B                10517
0            A                10181
4            E                10143
3            D                 9824
2            C                 9089